<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SterlingLIB</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>sl_membermaster.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpAction</display-name>
    <servlet-name>SignUpAction</servlet-name>
    <servlet-class>sl_membermaster.SignUpAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpAction</servlet-name>
    <url-pattern>/SignUpAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderUploadAction</display-name>
    <servlet-name>OrderUploadAction</servlet-name>
    <servlet-class>sl_membermaster.OrderUploadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderUploadAction</servlet-name>
    <url-pattern>/OrderUploadAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddressAction</display-name>
    <servlet-name>UpdateAddressAction</servlet-name>
    <servlet-class>sl_membermaster.UpdateAddressAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddressAction</servlet-name>
    <url-pattern>/UpdateAddressAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PdfRetrieve</display-name>
    <servlet-name>PdfRetrieve</servlet-name>
    <servlet-class>sl_membermaster.PdfRetrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfRetrieve</servlet-name>
    <url-pattern>/PdfRetrieve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageRetrieve</display-name>
    <servlet-name>ImageRetrieve</servlet-name>
    <servlet-class>sl_membermaster.ImageRetrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageRetrieve</servlet-name>
    <url-pattern>/ImageRetrieve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordAction</display-name>
    <servlet-name>ChangePasswordAction</servlet-name>
    <servlet-class>sl_membermaster.ChangePasswordAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordAction</servlet-name>
    <url-pattern>/ChangePasswordAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactusAction</display-name>
    <servlet-name>ContactusAction</servlet-name>
    <servlet-class>sl_membermaster.ContactusAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactusAction</servlet-name>
    <url-pattern>/ContactusAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableAction</display-name>
    <servlet-name>AvailableAction</servlet-name>
    <servlet-class>sl_membermaster.AvailableAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableAction</servlet-name>
    <url-pattern>/AvailableAction</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
</web-app>