<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdminLibrary</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/AdminLibrary</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    </resource-ref>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>sl_adminmaster.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryAction</display-name>
    <servlet-name>CategoryAction</servlet-name>
    <servlet-class>sl_adminmaster.CategoryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAction</servlet-name>
    <url-pattern>/CategoryAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookInsertAction</display-name>
    <servlet-name>BookInsertAction</servlet-name>
    <servlet-class>sl_adminmaster.BookInsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookInsertAction</servlet-name>
    <url-pattern>/BookInsertAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordAction</display-name>
    <servlet-name>ChangePasswordAction</servlet-name>
    <servlet-class>sl_adminmaster.ChangePasswordAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordAction</servlet-name>
    <url-pattern>/ChangePasswordAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderAction</display-name>
    <servlet-name>OrderAction</servlet-name>
    <servlet-class>sl_adminmaster.OrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAction</servlet-name>
    <url-pattern>/OrderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryUpdateAction</display-name>
    <servlet-name>CategoryUpdateAction</servlet-name>
    <servlet-class>sl_adminmaster.CategoryUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryUpdateAction</servlet-name>
    <url-pattern>/CategoryUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDeleteAction</display-name>
    <servlet-name>CategoryDeleteAction</servlet-name>
    <servlet-class>sl_adminmaster.CategoryDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDeleteAction</servlet-name>
    <url-pattern>/CategoryDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDeleteAction</display-name>
    <servlet-name>BookDeleteAction</servlet-name>
    <servlet-class>sl_adminmaster.BookDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteAction</servlet-name>
    <url-pattern>/BookDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookUpdateAction</display-name>
    <servlet-name>BookUpdateAction</servlet-name>
    <servlet-class>sl_adminmaster.BookUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpdateAction</servlet-name>
    <url-pattern>/BookUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageRetrieve</display-name>
    <servlet-name>ImageRetrieve</servlet-name>
    <servlet-class>sl_adminmaster.ImageRetrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageRetrieve</servlet-name>
    <url-pattern>/ImageRetrieve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PdfRetrieve</display-name>
    <servlet-name>PdfRetrieve</servlet-name>
    <servlet-class>sl_adminmaster.PdfRetrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfRetrieve</servlet-name>
    <url-pattern>/PdfRetrieve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDeleteAction</display-name>
    <servlet-name>OrderDeleteAction</servlet-name>
    <servlet-class>sl_adminmaster.OrderDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDeleteAction</servlet-name>
    <url-pattern>/OrderDeleteAction</url-pattern>
  </servlet-mapping>
  
  <session-config>
	<session-timeout>10</session-timeout>
</session-config>
  
</web-app>